<!DOCTYPE html>
<html>

<head>
    <title>
        Password Reset
    </title>

    <style>
        body {
            background-color: seashell;
            margin: auto;

        }

        h1 {
            color: navy;
        }

        .closebutton {
            position: relative;
            top: -219px;
            left: 23px;
            float: left;
            padding: 18px;
            border-radius: 8px;
            text-align: center;
            text-decoration: none;
            color: cadetblue;
            background-color: lightblue;
            margin: auto;
            outline: none;
            border-color: transparent;
            cursor: pointer;
        }
    </style>
</head>
<script>alert("Expired password, please reset");</script>
<body>
    <center>
        <!--This will be a field that will allow users to login.-->
        <div id="User">
            <h1> Password Reset <br></h1>
            <form method="post" action="passReset">

                <label for="username" style="font-size:larger;">Username: </label><br>
                <%data.forEach((item)=>{%>
                    <input type="text" name="username" value="<%= item.Username%>" readonly
                        style="background: none; border: none; margin: 0%; text-align: center;"><br><br>
                    

                        <label for="oldPass" style="font-size:larger;">Old Password: </label><br>
                        <input type="password" id="oldPass" name="oldPass" value="<%= item.Password%>"><br><br>
                        <%});%>
                        <label for="newPass" style="font-size:larger;">New Password: </label><br>
                        <input type="password" id="newPass" name="newPass"><br><br>

                        <!-- conditional code for submit button  and redirecting pages to doctor ,nurse and admin-->
                        <input type="Submit" value="Submit" style="margin: 5px;">
            </form>
        </div>
    </center>
    <div class="close">
        <a href="usernameReturn" class="closebutton">Exit</a>
    </div>
</body>

</html>